# ===== BUILD =====
/_build

# ===== SERVER =====
server/node_modules/
server/.env
server/test.js
*.log

# ===== UNITY =====
war_game/Library/
war_game/Assets/TextMesh Pro
war_game/Temp/
war_game/Obj/
war_game/Logs/
war_game/UserSettings/
war_game/ProfilerCaptures/
war_game/.vs/
war_game/Packages/com.merry-yellow.code-assist

*.exe
*.csproj
*.sln
*.slnx
*.vsconfig
*.bin
*.txt